body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.content.fluid {
  height: 340px;
  width: 290px;
}

div.centered.content.fluid.image > img {
  height: 300px;
}

#root > div > div.ui.cards {
  margin: auto;
  width: 92%;
}

#card {
  margin: 1%;
}

p {
  height: 250px;
  text-align: center;
  font-size: 15px;
}

#gameInfo {
  width: 65%;
  margin: auto;
}
